# dependencies
node_modules/
.pnpm-store/

# build output
dist/
dist-ssr/
dev-dist/
apps/web/public/version.json

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# supabase
supabase/.branches/
supabase/.temp/
.vercel
